spring.application.name=backend
   spring.datasource.url=jdbc:postgresql://localhost:5432/quiz_platform_db
   spring.datasource.username=postgres
   spring.datasource.password=YOUR_PASSWORD_HERE
   spring.jpa.hibernate.ddl-auto=update
   spring.jpa.show-sql=true
   server.port=8081
   app.jwt.secret=quizplatform-secret-key-must-be-very-long-2026-change-in-production
      app.jwt.expiration=604800000